/* Fade in animation
@keyframes fadeIn {
    to {
      opacity: 1;
    }
}
.main-img img,
.projects img{
    width: 50%;
}
.projects {
    background-color: lightpink;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.projects img{
    cursor: pointer;
}

.fade-in {
    opacity: 0;
    animation: fadeIn var(--fade-time) ease-in 1 forwards;
}

.className {
    padding: 2rem;
    background-color: grey;
}

.prevArrow {
    padding: 2rem;
}

/* .card-slider {
    display: flex;
    justify-content: center;
    background-color: grey;
    color: purple;
    font-size: 2rem;
}

.card-img {
    height: 100px;
    width: 100px;
} */
/* 
.slick-prev,.slick-next  {
    color: black;
    font-size: 1rem;
} */

/* .slider {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */





/* .card-title{
    color: #262626;
    display: block;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0 !important;
} */

/* .container{
    /* background-color: lightpink; 
    padding: 2rem 4rem;
} */

/* img {
    display:block;
    margin:auto;
} */



/* .follow{
    background-color: #3897f0 !important;
    border: 1px solid #3897f0 !important;
    border-radius: 4px;
    color: #fff;
    margin-top: 20px !important;
} */

/* .proj-images img{
    height: 300px;
    width: 300px;
    overflow: hidden;
    cursor: pointer;
}

.proj-images img{
    transition: transform .5s ease;
}

.proj-images:hover img{
    transform: scale(1.5);
}

.proj-btn {
    display: flex;
    padding: 0 1rem;
    justify-content: space-evenly;
} */

/* .project-box{
    display: flex;
    flex-direction: column;
    margin: 0 20%;
    opacity: 1;
    height: 80%;
    width: auto;
    overflow: hidden;
    padding-top: 1rem;
    background-color: pink;
} */


/* for Next and Prev Arrow */
.next, .prev {
    display: block;
    position: absolute;
    font-size: 4rem;
    padding: 10px;
    height: 4rem;
    width: 4rem;
    z-index: 1000;
    top:50%;
    transform: translateY(-50%);
}
.next {
    right: 0px;
}
