
.proj-container {
    background-color: white;
    margin: 5% 10%;
    padding: 2rem 8rem;
}

.proj-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;

    border: 5px solid rgb(111,41,97);
    border-radius: .5em;
    padding: 10px;
    max-width: 800;
    height: 70vh;

    background-color: yellow;
}

.proj-content {
    display: inline-block;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    flex: 1;
    margin: auto;
    height: 100%;
}
.proj-info, .proj-image {
    display: inline-block;
    background-color: blue;
    padding: 10px;
    margin: 10px;
    /* border: 5px solid rgb(111,41,97); */
    flex: 1;
    overflow: hidden;
}

/* for Next and Prev Arrow */
.next, .prev {
    display: block;
    position: absolute;
    font-size: 4rem;
    height: 2rem;
    width: 2rem;
    z-index: 1000;
    top:45%;
}

.next {
    right: -30px;
}

.prev {
    left: -35px;
    /* z-index: -3; */
}
