.home {
  margin: 15% 8%;
  padding: 1rem 1rem;
  height: 70vh;
  width: auto;
  /* background: var(--font-dark); */
  font-size: 1rem;
  border-radius: 10px;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden; /*for animation not to be shaky*/
  margin-bottom: 1rem; /*white space*/
  text-align: center;

}

.heading-primary--main {
  display: block;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: .5rem;
  line-height: 1.7;

  flex: 1 0 320;

  /* -moz-animation: blink normal 10s infinite ease-in;
  -webkit-animation: blink normal 10s infinite ease-in-out;
  -ms-animation: blink normal 10s infinite ease-in-out;
  animation: blink normal 10s infinite ease-in-out; */
  
  animation: moveInRight 10s infinite ease-in-out;
}

.heading-primary--sub {
  display: block;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  font-weight: 600;
  /* animation: moveInRight 1s ease-out; */

  -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
  -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
  -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
  animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}


.home .social-links  {
  opacity: 0;
}

/*
.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray; 
  margin: auto;
  height: 45%;
  width: 35%;
}

 .social-title {
  font-size: 1rem;
  padding: 0 1rem;
}

.social-title:first-child {
  background-color: yellow;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-weight: 900;
}
.social-links .social-title {
  opacity: 0;
} 

.social-links:hover .social-title{
  opacity: 1;
  font-size: 1.2rem;
  font-weight: 700;
}

.social-links li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.social-links * i{
  padding: 1.5rem;
  margin-right: 2rem;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 10px blue;
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}


.social-links * i:hover:before {
  transform: scale(1.1);
  box-shadow: 0 0 15px blue;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0;
}

.social-links * i:hover {
  margin: .75rem 0;
  border-style: none;
  border-radius: 50%;
  border: 1px solid yellow;
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  background-color: transparent;
  box-shadow: 1px 1px 25px yellow;
} */

.headshot {
  border-radius: 50%;
}

.tech-title{
  margin-top: 15rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--font-light);
  letter-spacing: 2px;
}

.about-skills, .tech-title{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: white; */
}

.about-skills .tech-icons {
  padding: 0 1rem;
  font-size: 3rem;
}

.btn-proj-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-proj {
  margin: 5rem 1rem 1rem 1rem;
  background-color: red;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
/*
    width = height = 70px
    border-width = 10px
    time = 1s
*/
/* body{
  background: #222;
  margin: 0;
} */

/* .holder{
  position: absolute;
  top: 45%;
  left: 45%;
} */

/* .bar{
  background: #d0f0dd;
  box-shadow: 0px 0px 0 #40ff22,
    0px 0px 4px #30ff1f,
    0px 0px 8px #20ff1b,
    0px 0px 16px #10ff18;
  border-radius: 4px;
  position: absolute;
  overflow: hidden;
}
.left{
  width: 100px;
  animation: left 2s linear infinite;
}

.top{
  height: 100px;
  animation: top 2s linear infinite;
}

.right{
  width: 100px;
  animation: right 2s linear infinite;
 }


.bottom{
  height: 100px;
  animation: bottom 2s linear infinite;
} 


@keyframes top{
  0%  {width: 0; top: 0; left: 0;}
  20% {width: 0; top: 0; left: 0;}
  40% {width: 100px; top: 0; left: 0;}
  60% {width: 0; top:0; left: 100px;}
}

@keyframes bottom{
  0%  {width: 0; top: 96px; left: 96px;}
  60% {width: 0; top: 96px; left: 96px;}
  80% {width: 100px; top:96px; left: 0px;}
  100% {width: 0px; top:96px; left: 0px;}
}

@keyframes right{
  0%  {height: 0; top: 0; left: 96px;}
  40% {height: 0; top: 0; left: 96px;}
  60% {height: 100px; top: 0; left: 96px;}
  80% {height: 0; top: 100px;left: 96px;}
} 

@keyframes left{
  0%  {height: 0; top: 96px; left: 0;}
  20% {height: 100px; top: 0; left: 0;}
  40% {height: 0; top: 0; left: 0;}
}  */

