.particles {
  margin: -15rem -5rem 0 -5rem;
  padding: 0 !important;
  width: 100wv;
  height: 100vh;
  position: absolute;
  z-index: 200;
}

.home {
  margin: 25% 8%;
  padding: 1rem 1rem;
  height: 70vh;
  width: auto;
  font-size: 1rem;
  border-radius: 10px;
  position: relative;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; /*for animation not to be shaky*/
  margin-bottom: 1rem; /*white space*/
  text-align: center;
}

.heading-primary-main:nth-last-child(2) {
  padding: 10px;
  letter-spacing: 1px;
  text-transform: none;
  color: var(--font-dark);
}

.heading-primary--sub {
  margin-top: 1rem;
  display: block;
  font-size: 1.3rem;
  letter-spacing: .2rem;
  font-weight: 600;
  animation: moveInRight 10s infinite ease-in-out;
}

.home .social-links  {
  opacity: 0;
}

.headshot {
  border-radius: 50%;
}

.tech-title{
  margin-top: 10rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  color: var(--font-light);
  letter-spacing: 2px;
}

.about-skills, .tech-title{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-skills .tech-icons {
  font-size: 3rem;
}

.tech-icons {
  border-radius: 10px;
  box-shadow: 0 0 10px var(--color-primary-medium);
  background-color: black;
  margin: 0 8px;
  padding: 8px;
}

.btn-proj-link {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-proj {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 5rem 1rem 1rem 1rem;
  background-color: red;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
}
