.headshot {
    width: 20%;
    height: 20%;
    opacity: 0.8;
}

a {
    font-size: 2rem;
    color: var(--color-dark);
} 

.home {
  height: 75vh;
  width: 75vh;
  margin: 4rem auto;
  /* background-color: var(--color-medium) */

  display: flex;
  flex-direction: row;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: gray; */
  margin: auto;
  height: 33%;
  width: 15%;
}

.social-icons {
  height: 5%;
  width: 5%;
}

.social-icons:hover:before {
  transform: scale(1.1);
  box-shadow: 0 0 15px red;
}

.social-icons:hover {
  border-style: none;
  border-radius: 50%;
  text-transform: scaleY(2px);
  background-color: red;
  box-shadow: 1px 1px 25px red;
}

.headshot {
  border-radius: 50%;
}
/*
    width = height = 70px
    border-width = 10px
    time = 1s
*/
/* body{
  background: #222;
  margin: 0;
} */

/* .holder{
  position: absolute;
  top: 45%;
  left: 45%;
} */
  
/* .bar{
  background: #d0f0dd;
  box-shadow: 0px 0px 0 #40ff22,
    0px 0px 4px #30ff1f,
    0px 0px 8px #20ff1b,
    0px 0px 16px #10ff18;
  border-radius: 4px;
  position: absolute;
  overflow: hidden;
}
.left{
  width: 100px;
  animation: left 2s linear infinite;
}

.top{
  height: 100px;
  animation: top 2s linear infinite;
}

.right{
  width: 100px;
  animation: right 2s linear infinite;
 }


.bottom{
  height: 100px;
  animation: bottom 2s linear infinite;
} 


@keyframes top{
  0%  {width: 0; top: 0; left: 0;}
  20% {width: 0; top: 0; left: 0;}
  40% {width: 100px; top: 0; left: 0;}
  60% {width: 0; top:0; left: 100px;}
}

@keyframes bottom{
  0%  {width: 0; top: 96px; left: 96px;}
  60% {width: 0; top: 96px; left: 96px;}
  80% {width: 100px; top:96px; left: 0px;}
  100% {width: 0px; top:96px; left: 0px;}
}

@keyframes right{
  0%  {height: 0; top: 0; left: 96px;}
  40% {height: 0; top: 0; left: 96px;}
  60% {height: 100px; top: 0; left: 96px;}
  80% {height: 0; top: 100px;left: 96px;}
} 

@keyframes left{
  0%  {height: 0; top: 96px; left: 0;}
  20% {height: 100px; top: 0; left: 0;}
  40% {height: 0; top: 0; left: 0;}
}  */