.About {
    margin: 0 5%;
    padding: 1rem 1rem;
    height: 72vh;
    width: auto;
    background: var(--font-medium);
    font-size: 1rem;
    border-radius: 10px;
}

.about-title {
    font-size: 2rem;
    margin: 5px 5px;
    text-transform: uppercase;
    font-weight: 900;
    background: linear-gradient(to right, rgba(58, 83, 109, 0.3), rgba(255,255,255, .8));
    letter-spacing: .5rem;
    text-align: center;
}

.about-title, .about-interest-title, .interest-desc * i {
    color: var(--color-primary-medium);
}

.about-desc {
    text-indent: 5%;
    margin-top: 10px;
}

.about-desc, .interest-desc{
    font-size: 1.3rem; 
    text-align: justify;
    text-justify: inter-word;
    padding: 0 3%;
}

.about-desc, .interest-desc li {
    color: black;
}

.about-desc:not(:last-child) {
    margin-bottom: 3rem; 
}

.about-interest-title, .interest-desc * i{
    font-size: 2rem;
}

.about-interest-title {
    font-weight: 700;
    text-transform: uppercase; 
    margin-bottom: 1rem;
    padding-left: 8%;
}

.interest-desc * i {
    margin-right: 1rem;
}

.u-margin-bottom-small {
    margin-bottom: 1.2rem !important; 
}