.techStack-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    
    
}

.techStack-icons {
    font-size: 1.3rem;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color-primary-medium);
    background-color: black;
    margin: 3px 8px;
    padding: 5px;
}