.footer-row {
    display: flex;
    flex-direction: row;
    border-top: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    right: 0;bottom:0;left:0;

    color: var(--font-dark);
    background-image: linear-gradient(to bottom top, rgba(255,255,255, .5), rgba(5,74,145, 0.8));
    text-align: center;
    z-index: 2;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}