
:root {
  --color-primary-dark:rgba(0, 0, 255, 1);
  --color-primary-medium: rgba(5,74,145, 1);
  --color-primary-light: rgba(49, 180, 242, 1);

  --color-secondary-main: rgba(248, 207, 64, 1);

  --color-dark: rgba(255, 22, 84, 1);
  --color-medium: rgba(243, 255, 189, 1);

  --font-dark: 	rgb(0,0,0, 1); 
  --font-medium: 	rgba(248,248,248,1);
  --font-light: rgba(255,255,255, 1);
 
  }

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-6.25rem);
    }

    80% {
        transform: translateX(.0625rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(.0625rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(1.875rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
  box-sizing: border-box;
}


html {
      font-size: 62.5%;
}

body {
  font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    box-sizing: border-box;
    background-color: var(--font-medium);
    color: var(--color-dark);
    
    /* background: linear-gradient(0deg,rgba(112, 193, 179, .3),var(--color-primary-dark));
    overflow: hidden;
    background-attachment: fixed;
    text-align: center;  */
}

.App {
  height: 100vh;
  width: auto;
  background-image: linear-gradient(rgba(5,74,145, .9), rgba(255,255,255, .5));
  background-size: cover;
  background-position: center;
  position: relative;
}

/* For all li  */
li
{
  list-style: none;
}


/* Bigger screen */
@media only screen and (min-width: 768px) {
    .App {
        background-image: linear-gradient(rgba(5,74,145, .8), rgba(255,255,255, .5)), url(https://imgur.com/DR3oJJr.png);
        background-size: cover;
        background-position: top;
        position: relative;
        opacity: (0,1);
      }

}