#toggleMenu {
  display: block;
  position: relative;
  z-index: 2000;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  display: flex;
}

#toggleMenu > .logo-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: center;
  padding: 1rem;
}

#toggleMenu a {
  text-decoration: none;
  transition: color 0.3 ease;
}

#toggleMenu input {
  display: inline-block;
  position: absolute;
  top: 2rem;
  left: 3rem;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
  padding: 10px;
}

#toggleMenu .fa_bars {
  color: var(--font-light) !important;
}

#toggleMenu .fa_bars,
#toggleMenu .fa_times {
  display: block;
  position: relative;
  font-size: 2rem;
  z-index: 1;
  top: 1.8rem;
  left: 3rem;
  color: var(--color-dark);
}

#navMenu{
  position: absolute;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  padding: 10rem 0 0 0;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  border-radius: 2px;
  background-image: linear-gradient(var(--color-primary-medium),var(--font-medium));
  z-index: -2;
  padding-bottom: 5rem;
}

#navMenu * span {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: .3rem;
}

#navMenu li, #navMenu a i {
  padding: 0;
  color: var(--font-medium);  
}

#navMenu a i{
  color: var(--color-primary-dark);
}

#navMenu li i span, .nav-resume {
  color: var(--font-light);
  
}

#navMenu li i, #navMenu a i {
  width: 150%;
  padding: 1rem 4rem 2rem 4rem;
  font-size: 2rem;
  color:var(--color-secondary-main); 
}

#toggleMenu input:checked~ul {
  transform: none;
}

.logo {
  height: 10%;
  width: 10%;
  padding: 2px;
  border-radius: 50%;
  margin-right: 5%;
}

.navContact {
  width: 85%;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(2, 84, 146, .3);
  margin: 3rem auto;
}

.navContact i{
  margin-top: 1rem;
  font-size: 1.5rem;
  color: var(--color-secondary-main);
}

.navContact li div, .navContact li i {
  font-size: 1.3rem;
  width: 100%;
  display: inline-block;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0  0 1.5rem;
  margin: 0;
}

.navContact li i  {
  margin-top: 10px;
}


/* Bigger screen */
@media only screen and (min-width: 768px) {
  #toggleMenu input {
    display: none;
  }


  #toggleMenu .fa_bars,
  #toggleMenu .fa_times {
    display: none;
  }

  #toggleMenu > .logo-link {
    justify-content: flex-start;
    margin-left: 2rem;
    padding: 5px;
  }

  #navMenu {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 0 0 0;
    margin: 0 0 0 0;

    transform-origin: none;
    transform: none;
    transition: none;
    background: none;
    width: 50%;
    height: 3%;
  }

  .nav-resume {
    display: inline-block;
  }

  #navMenu li i, #navMenu a i {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 2rem;
  }

  #navMenu li, #navMenu * a{
    position: relative;
    font-size: 1.3rem;
    font-weight: 600;
    transition: .5s;
    z-index: 1;
  }

  #navMenu li::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 2rem;
    width: 75%;
    height: 75%;
    border-top: 2px solid var(--color-primary-dark);
    border-bottom: 4px solid var(--color-dark);
    transform: scale(1, 2);
    opacity: 0;
    transition: .3s;
  }


  #navMenu li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;
    transform: scale(1, 2);
    opacity: 0;
    transition: .3s;
    z-index: -1;
    
  } 

  #navMenu li:hover::before {
    transform: scaleY(1);
    opacity: 1;
  }

  #navMenu li:hover::after {
    transform: scaleY(1);
    opacity: .5;
  } 

  #navMenu li i span:hover {
    color: var(--color-secondary-main);
    text-transform: uppercase;
  }

  #navMenu a i:hover {
    color: var(--font-light);
  }

  #navMenu * .nav-resume:hover {
    color: var(--color-dark);
    text-transform: uppercase;
    text-underline-position: below;
    letter-spacing: 1px;
    font-size: 1.7rem;
    font-weight: 700;
    text-decoration: line-through;
  }

  #navMenu * .nav-resume {
    padding-left: 1rem;
  }
  
  .active {
    background-color: rgba(112, 193, 179, .5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: .4rem 0;
  }

  .logo-link {
    background-color: transparent;
  } 

.logo {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 8%;
    height: 8%;
  }

  .navContact {
    display: none;
  }

}
