#toggleMenu {
    display: block; 
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: lightskyblue; */
  }
  
  #toggleMenu a {
    text-decoration: none;
    transition: color 0.3 ease;
  }
  
  
  #toggleMenu li:hover {
    color: rgba(206, 129, 135, 0.459);
  }
  
  #toggleMenu input {
    display: inline-block;
    position: absolute;
    top: 2.5rem;
    left: 3rem; 
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    /* color: yellow; */
    -webkit-touch-callout: none;
    font-size: 5rem;
    padding: 10px;
  }

  #toggleMenu .fa_bars, #toggleMenu .fa_times {
    display: block;
    position: relative;
    font-size: 2rem;
    z-index: 1;
    top: 2.5rem;
    left: 3rem;
  }
  

  #navMenu {
    position: absolute;
    width: 175px;
    height: 50vh;
    /* margin: -50px 0 0 -50px; */
    padding: 75px 0 0 20px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* border-radius: 8px; */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    background-color: yellow;
    border-radius: 75% 10% 350% 0;
    
  }
  
  #navMenu li {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: black;

    
  }
  
  #toggleMenu input:checked ~ ul {
    transform: none;
  }
  
  .logo {
    display: block;
    margin: 0;
    padding: 0;
    width: 4%;
    background-color: black;
  }
  
  @media only screen and (min-width: 768px) {
    #toggleMenu input {
      display: none;
    }
  
    #toggleMenu .fa_bars, #toggleMenu .fa_times {
      display: none;
    }
  
    /* #toggleMenu li:hover {
      color: black;
      opacity: 1;
    } */
  
    /* .active {
      background-color: yellow;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    } */
  
    #navMenu {
      display: flex;
      flex-direction: row;
      justify-content: center; 
      
      padding: 0;
      margin:  1rem 1rem 0 0;
      position: relative;
      transform-origin: none;
      transform: none;
      transition: none;
      background: none;
      background-color: white;
      width: 50%;
      height: 5%;
      border-radius: 50%;
      /* border: 10px solid red; */
      box-shadow: inset 0px 0px 0px 5px black;
      /* outline-style: outset 0px 0px 0px 30px purple; */
      /* border-radius: 10% 10% 10% 10%; */
      /* border-radius: 5em / 2em; */
      /* border-radius: .10rem .2rem 2rem 2rem / 0 .2rem 3rem 3em; */
      /* border-radius: .3em; */
    }
  
    ul li {
      position: relative;
      display: block;
      text-transform: uppercase;
      margin: 5px 0;
      text-decoration: none;
      color: #262626;
      font-family: sans-serif;
      font-size: 1rem;
      font-weight: 600;
      transition: .5s;
      z-index: 1; 
    }

    ul li::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 10px;
      padding-bottom: 2rem;
      width: 75%;
      height: 75%;
      border-top: 2px solid red;
      border-bottom: 4px solid #262626;
      transform: scale(1,2);
      opacity: 0;
      transition: .3s;
    }

    ul li::after {
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      width: 85%;
      height: 85%;
      /* background-color: #262626; */
      transform: scale(1,2);
      opacity: 0;
      transition: .3s;
      /* z-index: -1; */
    }

    ul li:hover {
      color: #fff;
    }

    ul li:hover::before {
      transform: scaleY(1);
      opacity: 1;
    }
    
    ul li:hover::after {
      transform: scaleY(1);
      opacity: 1;
    }

    /* #ul .inactive {
      margin-bottom: 10px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      background-image: linear-gradient(to left,
                                        transparent,
                                        transparent 50%,
                                        rgba(255, 192, 203, 0.678) 50%,
                                        rgba(255, 192, 203, 0.678));
      background-position: 100% 0;
      background-size: 200% 100%;
      transition: all .40s ease-in;
    }
  
    #navMenu .inactive:hover {
      background-position: 0 0;
    } */

    .logo {
      display: block;
      margin: auto;
      margin-left: 1rem;
      width: 4%;
      height: 4%;
      background-color: yellow;
    }

  }